/* base colors  */
body{
    font-family: 'Roboto Condensed', sans-serif;
    background:linear-gradient(200deg,#3F0071,#150050) ;
}

:root{
    --blue : #150050;
    --purpal : #3F0071;
    --red :#FB2576;
    --light-dark :#393E46;
}

.navbar{
    border-bottom: 2px solid #150050;
    color: white !important;
}
.navbar-brand{
    color: #FB2576 !important;
}

.nav-link{
    color: white;
}


.loading{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100000;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
}

hr{
  background-color: #FB2576 !important;
  height: 3px;  
}

.bg-light{
    background-color: var(--grey) !important;
}

.bg-teal{
    background-color: #393E46;
}

.line{
    border-bottom: 2px solid #393E46;
}

.heading{
    font-family: 'Playfair Display', serif;   
    
}


/* cryptocurrencies  */

.card{
    background-color: #0c002d93;
    box-shadow: 5px 5px 10px #15005084;
    color: white;
}

.img_container{
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.426);
    top: 10px;
    left: 10px;
}

.MyCrypto_btn{
   
text-decoration: none;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.358);
background-color: white;
font-weight: bold;
transform: translateX(-2px);
transition: all .2s;
}
.MyCrypto_btn:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.319);
    transform: translateX(0px);
}

.MyCrypto_btn:active , .MyCrypto_btn:target{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
    transform: translateX(2px);
    
}


/* news  */


.mySelect{
    padding: 10px;
    border: none;
    background: white;

    color: #FB2576;
    border-bottom: 2px solid #3F0071;
    transition: all 1s;
}
.mySelect:optional{
    background-color: #15005044;
}

.mySelect select{
    display: none;
    color: white;
    border: none;
}

.mySelect:active,.mySelect:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #150050;

}
